*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    font-family: 'Space Mono', monospace;
    
}
.down{
  padding: 20px;
}
a{
  text-decoration: none;
  color: #272829;
  
}
li, a{
  text-decoration: none;
}
.background{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(https://images.unsplash.com/photo-1526925712774-2833a7ecd0d4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1948&q=80);
  background-size: cover;
  background-position: center;
  
}
.text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 2px solid ;
  padding: 40px 40px;
  background-color: #D8D9DA;
  border-radius: 4%;
  font-family: 'Kanit', sans-serif;
  font-family: 'Space Mono', monospace;  
}
#ueberschrieft{
  position: relative;
  bottom: 30px;
  
}
.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar li a{
  text-decoration: none;
  color: #D8D9DA;
  text-transform: uppercase;
  font-family: 'Kanit', sans-serif;
  font-family: 'Space Mono', monospace;
}
.navbar li a::after{
  content: '';
  height: 3px;
  width: 0;
  background: #D8D9DA;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar li a:hover::after{
  width: 100%;
}
.text p{
  position: relative;
}
.text p::after{
  content: '';
  height: 3px;
  width: 50%;
  background: rgb(39, 40, 41);
  position: absolute;
  left: 65px;
  bottom: 70px;
}
button{
  position: relative;
  padding: 10px 0;
  top: 10px;
  width: 200px;
  font-family: 'Kanit', sans-serif;
  font-family: 'Space Mono', monospace;;
  font-weight: bold;
  border: 2px solid rgb(39, 40, 41);
  background: transparent;
  color: rgb(39, 40, 41);
  cursor: pointer;
  overflow: hidden;
}
.downloa {
  background: rgb(117, 116, 116);
  height: 100%;
  width: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
  
}
button:hover .downloa{
  width: 100%;
}

.main{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  font-family: 'Kanit', sans-serif;
  font-family: 'Space Mono', monospace;

}
.main h2{
  font-size: 36px;
  font-weight: 600;
  
}
.main p{
  color: rgb(39, 40, 41);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 20px;
}
.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.parts p{
  color: #FFF6E0;
}
.parts{
  flex-basis: 31%;
  background: #272829;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
  color: #FFF6E0;
}
h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.parts:hover{
  box-shadow: 10px -8px #61677A;
}
@media(max-width:700px){
  .parts{
    flex-direction: column;
  }
}
.footer{
  width: 100%;
  text-align: center;
  padding: 30px 0;
  color: #575757;
  background-color: #D8D9DA;
}
.footer h4{
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}
.background2{
  background-color: #D8D9DA;
}
